<div class="main-card mb-3 card">
    <div class="card-header">
      <div class="card-header-title font-size-lg text-capitalize fw-normal">Liste des étudiants récement ajoutée</div>
    </div>
    <div class="table-responsive">
      <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Photo</th>
          <th class="text-center">Nom complet</th>
          <th class="text-center">Niveau Scolaire</th>
          <th class="text-center">Absence</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center text-muted" style="width: 80px;">#54</td>
                <td class="text-center" style="width: 80px;">
                  <img width="40" class="rounded-circle" src="./assets/images/avatars/1.jpg" alt="">
                </td>
                <td class="text-center"><a [routerLink]="">Safaa boulif</a></td>
                <td class="text-center"><a [routerLink]="">2eme année collège</a></td>
                <td class="text-center">
                  <div class="badge rounded-pill bg-danger">Canceled</div>
                </td>
                <td class="text-center">
                  <div role="group" class="btn-group-sm btn-group">
                    <button class="btn-shadow btn btn-primary">Details</button>
                    <button class="btn-shadow btn btn-primary">Avertissement</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-center text-muted" style="width: 80px;">#55</td>
                <td class="text-center" style="width: 80px;">
                  <img width="40" class="rounded-circle" src="./assets/images/avatars/3.jpg" alt="">
                </td>
                <td class="text-center"><a [routerLink]="">Allam Walaa</a></td>
                <td class="text-center"><a [routerLink]="">2eme année collège</a></td>
                <td class="text-center">
                  <div class="badge rounded-pill bg-danger">Canceled</div>
                </td>
                <td class="text-center">
                  <div role="group" class="btn-group-sm btn-group">
                    <button class="btn-shadow btn btn-primary">Details</button>
                    <button class="btn-shadow btn btn-primary">Avertissement</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-center text-muted" style="width: 80px;">#56</td>
                <td class="text-center" style="width: 80px;">
                  <img width="40" class="rounded-circle" src="./assets/images/avatars/4.jpg" alt="">
                </td>
                <td class="text-center"><a [routerLink]="">Amine MedMes</a></td>
                <td class="text-center"><a [routerLink]="">2eme année collège</a></td>
                <td class="text-center">
                  <div class="badge rounded-pill bg-danger">Canceled</div>
                </td>
                <td class="text-center">
                  <div role="group" class="btn-group-sm btn-group">
                    <button class="btn-shadow btn btn-primary">Details</button>
                    <button class="btn-shadow btn btn-primary">Avertissement</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-center text-muted" style="width: 80px;">#57</td>
                <td class="text-center" style="width: 80px;">
                  <img width="40" class="rounded-circle" src="./assets/images/avatars/2.jpg" alt="">
                </td>
                <td class="text-center"><a [routerLink]="">Ismail chaiq</a></td>
                <td class="text-center"><a [routerLink]="">3eme année collège</a></td>
                <td class="text-center">
                  <div class="badge rounded-pill bg-danger">Canceled</div>
                </td>
                <td class="text-center">
                  <div role="group" class="btn-group-sm btn-group">
                    <button class="btn-shadow btn btn-primary">Details</button>
                    <button class="btn-shadow btn btn-primary">Avertissement</button>
                  </div>
                </td>
              </tr>
        
        </tbody>
      </table>
    </div>
    <div class="d-block p-4 text-center card-footer">
      <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">
        <span class="me-2 opacity-7">
            <i class="fa fa-cog fa-spin"></i>
        </span>
        <span class="me-1">View Complete Report</span>
      </button>
    </div>
  </div>