<div class="row">
    <div class="col-lg-3">
        <div class="main-card mb-3 card">
            <ul class="list-group list-group-flush">


                <li class="list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="widget-heading">Liste des avertissement récents</div>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left me-3">
                                <img width="42" class="rounded-circle" src="./assets/images/avatars/3.jpg" alt="">
                            </div>
                            <div class="widget-content-left">
                                <div class="widget-heading">Safaa Bounif</div>
                            </div>
                            <div class="widget-content-right">
                                <button (click)="idAbsence = 1"
                                    class="btn-pill btn-hover-shine btn btn-focus btn-sm">Details</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left me-3">
                                <img width="42" class="rounded-circle" src="./assets/images/avatars/3.jpg" alt="">
                            </div>
                            <div class="widget-content-left">
                                <div class="widget-heading">Ismail Chaiq</div>
                            </div>
                            <div class="widget-content-right">
                                <button (click)="idAbsence = 2"
                                    class="btn-pill btn-hover-shine btn btn-focus btn-sm">Details</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="main-card mb-3 card">
        </div>
    </div>
    <div class="col-sm-12 col-lg-9">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize fw-normal"><i
                        class="header-icon lnr-database icon-gradient bg-malibu-beach"></i> Avertissements</div>
                
            </div>
            <div class="scroll-area-lg">
                <perfect-scrollbar ng-reflect-auto-propagation="true" class="ps-show-limits">
                    <div style="position: static;" class="ps ps--active-y" ng-reflect-disabled="false">
                        <div class="ps-content">
                            <ul class="todo-list-wrapper list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="todo-indicator bg-primary"></div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left me-2">
                                                <div class="custom-checkbox custom-control form-check"><input
                                                        type="checkbox" id="exampleCustomCheckbox4"
                                                        class="form-check-input"><label for="exampleCustomCheckbox4"
                                                        class="form-label form-check-label">&nbsp;</label></div>
                                            </div>
                                            <div class="widget-content-left flex2">
                                                <div class="widget-heading">Avertissement</div>
                                                <div class="widget-subheading">09/06/2022
                                                </div>
                                            </div>
                                            <div class="widget-content-right widget-content-actions"><button
                                                    class="border-0 btn-transition btn btn-outline-success">
                                                    <fa-icon class="ng-fa-icon" ng-reflect-icon="[object Object]"><svg
                                                            role="img" aria-hidden="true" focusable="false"
                                                            data-prefix="fas" data-icon="check"
                                                            class="svg-inline--fa fa-check fa-w-16"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                            <path fill="currentColor"
                                                                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                                            </path>
                                                        </svg></fa-icon>
                                                </button></div>
                                            <div class="widget-content-right ms-3">
                                                <div class="badge rounded-pill bg-success">Faible</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="todo-indicator bg-primary"></div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left me-2">
                                                <div class="custom-checkbox custom-control form-check"><input
                                                        type="checkbox" id="exampleCustomCheckbox4"
                                                        class="form-check-input"><label for="exampleCustomCheckbox4"
                                                        class="form-label form-check-label">&nbsp;</label></div>
                                            </div>
                                            <div class="widget-content-left flex2">
                                                <div class="widget-heading">Avertissement</div>
                                                <div class="widget-subheading">02/06/2022
                                                </div>
                                            </div>
                                            <div class="widget-content-right widget-content-actions"><button
                                                    class="border-0 btn-transition btn btn-outline-success">
                                                    <fa-icon class="ng-fa-icon" ng-reflect-icon="[object Object]"><svg
                                                            role="img" aria-hidden="true" focusable="false"
                                                            data-prefix="fas" data-icon="check"
                                                            class="svg-inline--fa fa-check fa-w-16"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                            <path fill="currentColor"
                                                                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                                            </path>
                                                        </svg></fa-icon>
                                                </button></div>
                                            <div class="widget-content-right ms-3">
                                                <div class="badge rounded-pill bg-danger">Severe</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="todo-indicator bg-primary"></div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left me-2">
                                                <div class="custom-checkbox custom-control form-check"><input
                                                        type="checkbox" id="exampleCustomCheckbox4"
                                                        class="form-check-input"><label for="exampleCustomCheckbox4"
                                                        class="form-label form-check-label">&nbsp;</label></div>
                                            </div>
                                            <div class="widget-content-left flex2">
                                                <div class="widget-heading">Avertissement</div>
                                                <div class="widget-subheading">20/05/2022
                                                </div>
                                            </div>
                                            <div class="widget-content-right widget-content-actions"><button
                                                    class="border-0 btn-transition btn btn-outline-success">
                                                    <fa-icon class="ng-fa-icon" ng-reflect-icon="[object Object]"><svg
                                                            role="img" aria-hidden="true" focusable="false"
                                                            data-prefix="fas" data-icon="check"
                                                            class="svg-inline--fa fa-check fa-w-16"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                            <path fill="currentColor"
                                                                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                                                            </path>
                                                        </svg></fa-icon>
                                                </button></div>
                                            <div class="widget-content-right ms-3">
                                                <div class="badge rounded-pill bg-success">Faible</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                
                                
                            </ul>
                        </div>
                        <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
                        <!-- <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; height: 400px; right: 0px;">
                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 349px;"></div>
                        </div> -->
                    </div>
                </perfect-scrollbar>
            </div>
            <div class="d-block text-end card-footer"><button class="me-2 btn btn-link btn-sm"></button>
                <a routerLink="/Avertis/ajout"
                    class="btn btn-primary">Ajouter un avertissement</a></div>
        </div>
    </div>
</div>