<h2 class="card-title">Ajouter un avertissement</h2>
<div class="col-md-10">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <jsonforms
                [(data)]="data"
                [schema]="schema"
                [uischema]="uischema"
                [renderers]="renderers"
                
            ></jsonforms>
        </div>
    </div>
</div>
<div class="col-md-2">
    <button class="mb-2 me-2 btn btn-success"
        (click)="addNewAvertissement()"
    >Ajouter
    </button>
</div>